<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

<!--    <menu id="application" title="msg://ru.javaboys.huntyhr/menu.application.title" opened="true">-->
<!--        <item view="User.list" title="msg://ru.javaboys.huntyhr.view.user/UserListView.title"/>-->
        <item view="VacancyEntity.list"
              title="msg://ru.javaboys.huntyhr.view.vacancyentity/vacancyEntityListView.title"/>
    <item view="InterviewSessionEntity.list"
          title="msg://ru.javaboys.huntyhr.view.interviewsessionentity/interviewSessionEntityListView.title"/>
    <!--        <item view="ApplicationEntity.list" title="msg://ru.javaboys.huntyhr.view.applicationentity/applicationEntityListView.title"/>-->
<!--        <item view="CandidateEntity.list" title="msg://ru.javaboys.huntyhr.view.candidateentity/candidateEntityListView.title"/>-->
<!--        <item view="CompanyEntity.list" title="msg://ru.javaboys.huntyhr.view.companyentity/companyEntityListView.title"/>-->
<!--        <item view="QuestionTemplateEntity.list" title="msg://ru.javaboys.huntyhr.view.questiontemplateentity/questionTemplateEntityListView.title"/>-->
<!--    </menu>-->

</menu-config>